:root{
    font-size: 14px;
}

.bg-pcolor{
    background-color: #1e202b;
}

.bg-scolor{
    background-color: #323544;
}

/* Navigation Bar */
#tagLine{
    font-size: 0.7em;
}

.nav-link.active{
    color: #0b5ed7 !important;
    border: 2px solid #0b5ed7;
    border-radius: 30px;
}

/* Contact Us Section */
#map{
    height: 220px;
}

#contact .form-control::placeholder{
    color: var(--bs-secondary-text);
}

/* Footer Section */
#subscribeBtn{
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 5px;
}

.social-link{
    width: 40px;
    height: 40px;
    transition: 0.5s all;
}

.social-link:hover{
    background-color: #009ad8;
    color: #fff !important;
}